
:root { 
  --nav-h: 56px;         
  --sidebar-w: 280px;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;      
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background: #ffffff;
}


* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}


.App {
  text-align: center;
}


.home-container {
  position: fixed;               
  top: var(--nav-h);        
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;                 
  align-items: stretch;
  width: 100vw;                  
  overflow: hidden;              
  touch-action: none;            
  overscroll-behavior: none;
  backface-visibility: hidden;   
}


.page-content {
  flex: 1;                       
  min-width: 0;   
  width:79%;              
  height: 100%;                  
  overflow-y: auto;             
  overscroll-behavior: contain;  
  -webkit-overflow-scrolling: touch; 
  background: #ffffff;
  color: #111;
  padding: 24px;
  font-size: 16px;
}


.page-content::-webkit-scrollbar {
  width: 6px;
}
.page-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}


@media (max-width: 768px) {
  :root {
    --sidebar-w: 240px;
    --nav-h: 56px;
  }

  .page-content {
    padding: 16px;
  }
}
